.footer__other {
  display: contents;
  @include m(heading) {
    grid-area: 1 / 3 / 2 / 4;
    align-self: end;
    margin: unset;
    padding-right: rem(($footer3rd4thColGap - $footerColGap));
  }
  @include m(list) {
    grid-area: 2 / 3 / 4 / 4;
    align-self: start;
    padding-right: rem(($footer3rd4thColGap - $footerColGap));
  }
}

.footer__ameda {
  display: contents;
  @include m(heading) {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
    margin: unset;
    padding-left: rem(($footer1st2ndColGap - $footerColGap));
  }
  @include m(list) {
    grid-area: 2 / 2 / 4 / 3;
    align-self: start;
    padding-left: rem(($footer1st2ndColGap - $footerColGap));
  }
}
