$headerLogoSize: 28.7px;

$headerHamburgerButtonWidthMiddle: 18px;
$headerHamburgerButtonWidthFull: 24px;
$headerHamburgerButtonHeight: 2px;
$headerHamburgerButtonMargins: 6px;
$headerHamburgerButtonTopPos: 31px;
$headerHamburgerButtonLeftPos: 22px;

$headerPaddingForTop: 27px;
$headerPaddingForBottom: $headerPaddingForTop / 2;
$headerPaddingsForSides: 25px;

$headerDistanceBetweenLogoAndText: 6px;
