$maxGapBetweenElements: 66px;

$distanceBetweenHeaderAndArticle: 52px;
$articleBottomPadding: 48px;
$distanceBetweenArticleAndDescription: 21px;
$maxWidthForArticleDescription: 57.8vw;
$maxWidthForArticleHeader: 6.3em;
$marginBottomForArticle: 34px;

$searchFormPaddingSides: 10px;
$borderRadiusForSearchBar: 20px;
$sizeOfSearchIcon: 14px;
$paddingsForSearchBarTopBottom: 5px;
$paddingsForSearchBarSides: 20px;
$minHeightForSearchBar: 40px;
$widthForSearchBar: 302px;
$minWidthForSearchButton: 170px;
$searchButtonTopMargin: 8px;

$categoriesGaps: 7px;
$categoriesTopPadding: 55px;
