$gapBetweenRentalArticle: 124px;

$distanceBetweenHeaderAndMainArticle: 21px;
$distanceBetweenMainArticleChildren: 24px;
$distanceBetweenMainArticleAnd1stSection: 108px;

$bottomPositioningForBefore: 79px;
$rightPositioningForBefore: 139px;

$difBetween1and2StepImage: 20px;
$difBetween1and3StepImage: 10px;
$stepGap: 21px;

$bottomPaddingForArticle: 31px;
$maxWidthOfStep: 220px;
