$categoriesTopPadding: 71px;

$categoriesGap: 63px;
$categoriesDistanceBetweenTitleAndHeader: 21px;

$categoriesHeadingWidth: 180px;
$categoriesDistanceHeaderAndDescription: 31px;

$categoriesSliderThumbnailGap: 49px;

$categoriesBottomPadding: 50px;
$categoriesBottomMargin: 61px;
