$articleTopPadding: 59px;
$articleBotPadding: 179px;
$articleLeftPadding: 38px;
$articleRightPadding: 55px;
$borderRadiusForSearchBar: 33px;
$paddingsForSearchBarSides: 64px;
$leftPosSearchIcon: 30px;
$homeHeightForSearchbar: 66px;
$homeMinHeight: 430px;
$homeHoverHeight: 38.7px;
