@import "./vars";
@import "./links";

.advertisement {
  position: relative;
  padding: rem($adsTopPadding) rem($adsRightPadding) 0 rem($adsLeftPadding);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: rem($adsRowGap);
  @include e(heading) {
    grid-area: 1 / 1 / 2 / 3;
  }

  @include e(description) {
    grid-area: 2 / 1 / 3 / 3;
  }

  @include e(image) {
    width: 78vw;
    grid-area: 3 / 1 / 6 / 3;
    position: relative;
    justify-self: end;
    @include positioning(unset, rem($adsRightPadding), 0);
  }

  @include e(stores) {
    flex-direction: column;
    grid-area: 3 / 1 / 4 / 2;
    z-index: 1;
    justify-self: start;
    align-self: center;
  }
}
