$footerPaddingLeft: 36px;
$footerPaddingRight: 22px;
$footerPaddingTop: 36px;
$footerPaddingBottom: 13px;
$footerLetterSpacing: -0.025em;
$footerSubtitleLetterSpacing: 0.01em;
$footerLogoSize: 54px;
$footerLogoDistanceToText: 14px;
$footerStoresGap: 45px;
$footerCopyrightsPaddingSide: 30px;
$footerGap: 37px;
$footerDescriptionTopMargin: 27px;
$footerDescriptionBottomMargin: 19px;
$footerStoresMargin: 47px;
$footerCopyrightsTopMargin: 14px;
$footerCommunityTopMargin: 51px;
$footerStoresMaxWidth: 44px;
