$baseHeaderSize: 36px;
$mediumHeaderSize: 32px;
$smallHeaderSize: 24px;
////
$bigSubheaderSize: 20px;
$mediumSubheaderSize: 16px;
$smallSubheaderSize: 14px;
////
$stepHeaderSize: 20px;
$stepDescSize: 14px;
////
$footerCompanyNameSize: 36px;
$footerSloganSize: 14px;
$footerCommunitySize: 24px;
$footerSocialsSize: 24px;
////
$baseCardNameSize: 24px;
$smallCardNameSize: 18px;
$cardSubnameSize: 14px;
$cardOwnerAddressSize: 14px;
$cardDesctiptionSize: 14px;
$cardTitleSize: 14px;
////
$hoverCategoriesSize: 11px;
$bigButtonSize: 18px;
$footerCopy: 14px;
$headerCompanyNameSize: 22px;
$headerSloganSize: 10px;
$featuredCardReviewsSize: 12px;
/* 
// --- HEADERS --- //
Home article header - 36px / 60px / 60px
How it works Header - 36px / 60px / 60px
Pop cat Header - 36px / 60px / 60px
Featured Header - 36px / 60px / 60px
Advan Header - 32px / 48px / 48px
Ads Header - 36px / 60px / 60px
Reviews Header - 32px / 60px / 60px
Footer other links Header - --- / 24px / 24px
Footer other Amanda Header - --- / --- / 24px
Partn Header - 24px / 24px / 24px
// --- END OF HEADERS --- //

// --- SUBHEADERS --- //
Home article subheader - 16px / 18px / 18px
How it works subheader - 14px / 16px / 16px
Pop cat subheader - 14px / 16px / 16px
Featured subheader - 14px / 16px / 16px
Ads subheader - 20px / 24px / 24px
Reviews subheader - 14px / 16px / 16px
// --- END OF SUBHEADERS --- //

// --- FOR BASE FONT SIZE --- //
How it works upper - 16px / 16px / 16px
Pop cat upper - 16px / 16px / 16px
Featured upper - 16px / 16px / 16px
Reviews upper - 16px / 16px / 16px

Home article button inner - 16px / 16px / 16px
Home article popular - 16px / 16px / 16px
Home article cta - 16px / 16px / 16px

Pop cat card searches - 16px / 16px / 16px
Featured card rent - 16px / 16px / 16px
Featured card owner name - 16px / 16px / 16px

Footer desc - 16px / 16px / 16px
Footer address - 16px / 16px / 16px
Footer community desc - 16px / 16px / 16px
Footer other links  - --- / 16px / 16px
Footer other Amanda - --- / --- / 16px
// --- END OF FOR BASE FONT SIZE --- //

// --- STEP HEADERS --- //
How it works step-head - 20px / 24px / 24px
Advan step-head - 20px / 24px / 24px

// --- END OF STEP HEADERS --- //

// --- STEP DESCS --- //
Advan step-desc - 14px / 16px / 16px
How it works step-desc - 14px / 16px / 16px
// --- END OF STEP DESCS --- //

// --- FOOTER --- //
Footer company name - 36px / 36px / 36px
Footer slogan - 14px / 14px / 14px
Footer community - 24px / 24px / 24px
Footer socials - 24px / 24px / 24px
// --- END OF THE FOOTER --- //

// --- CARDS --- //
Pop cat card name - 24px / 24px / 24px
Featured card name - 24px / 24px / 24px
Reviews card name - 18px / 18px / 18px

Featured card subname - 14px / 14px / 14px
Featured card owner address - 14px / 14px / 14px

Reviews card desc - 14px / 16px / 16px

Reviews card title - 14px / 14px / 14px
// --- END OF CARDS --- //

// --- REST --- //
Home article hover cater - 11px / 11px / 11px
Featured button inner - 18px / 18px / 18px
Footer copy - 14px / 16px / 16px
Header company name - 22px / 36px / 36px
Header slogan - 10px / 14px / 14px 
// --- END OF REST --- //
*/
