$advantagesGaps: 45px;
$advantagesHeaderSectionsGap: 33px;
$sidePaddingsForText: 40px;
$marginsForSubtitles: 12px;

$bottomPaddingForAdvantagesArticle: 57px;
$topPaddingForAdvantagesArticle: 33px;

$topMarginForAdvantagesArticle: 89px;
$bottomMarginForAdvantagesArticle: 52px;
