$reviewsGap: 45px;
$reviewsGapHeadingContent: 29px;
$reviewsPaddingTopBottom: 70px;

$reviewsCardWidth: 300px;
$reviewCardHeight: 354px;
$reviewsCardMainRowGap: 14px;
$reviewsCardMainColumnGap: 33px;
