$baseHeaderSize: 60px;
$mediumHeaderSize: 48px;
////
$bigSubheaderSize: 24px;
$mediumSubheaderSize: 18px;
$smallSubheaderSize: 16px;
////
$stepHeaderSize: 24px;
$stepDescSize: 16px;
////
$cardDesctiptionSize: 16px;
////
$footerCopy: 16px;
$headerCompanyNameSize: 36px;
$headerSloganSize: 14px;
