$footerPaddingLeft: 74px;
$footerPaddingRight: 49px;
$footerPaddingTop: 42px;
$footerPaddingBottom: 121px;
$footerMinHeight: 474px;
$footerLogoSize: 54px;
$footerLogoDistanceToText: 14px;
$footerCommunityGap: 19px;
$footerSocialsHeaderBotMargin: 22px;
$footerSocialsLinksBotMargin: 45px;
$footerOtherMarginBot: 19px;
$footerCopyrightsGap: 22px;
$footerStoresMaxWidth: 154px;
$footerStoresGap: 11px;
$footerColGap: 74px;
$footerRowGap: 13px;
