$headerLogoSize: 54px;
$headerDistanceBetweenLogoAndText: 15px;

$headerPaddingForTop: 50px;
$headerPaddingForBottom: $headerPaddingForTop / 2;
$headerPaddingRight: 49px;
$headerPaddingLeft: 59px;

$headerTopPos: 58px;
$headerLeftPos: 49px;
