$featuredHeaderContentGap: 28px;
$featuredContentCardGap: 57px;
$featuredCardButtonGap: 45px;

$featuredCardWidth: 300px;
$featuredCardHeight: 539px;
$featuredSliderThumbnailGap: 23px;
$featuredBottomMarginStars: 15px;
$featuredTopMarginOwner: 15px;

$featuredIconOwnerGap: 9px;
